@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

a, button {
   cursor: pointer;
}

body {
   background: #191919;
}

.gallery {
   width: 900px;
   display: flex;
   overflow-x: scroll;

   div {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 20px;
      padding: 10px;
      flex: none;

      img {
         width: 100%;
         filter: grayscale(100%); 
         transition: transform .5s;

         &:hover {
           filter: grayscale(0); 
           cursor: pointer;
           transform: scale(1.1);
         }
      }
   }

   &::-webkit-scrollbar {
      display: none;
   }
}

.gallery-wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10% auto;
}

#backBtn, #nextBtn {
   width: 50px;
   margin: 40px;
}